<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>인완편</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=sLI8XqyW1n9z3eYxDY7G&submodules=geocoder"></script>
</head>

<body>



  <div class="txt0">

    <header>
    <a href="/" target="_top"><img src="/BSPS.jpg" style="width:80px;"></a>

    <h1><p align="center"><a href="/about">인.완.편</a></p></h1>

    <i class="fas fa-3x fa-bars"></i>
  </header>
    <div class="form-container">
      <form method="POST" action="/" align="center">
          <span>위도: </span>
          <input name="lng" type="text" value="">

          <span>경도: </span>
          <input name="lat" type="text" value="">
          <input type="submit" value="찾아보기">
      </form>
    </div>
    <div id="map"></div>

  </div>






    <!--<script type='text/javascript' src='/test.js' />-->
    <script>
        //var coords = [[37.550052, 126.948596], [37.548874, 126.937134], [37.550958, 126.940911]];
        var coords = [[0,0],[0,0],[0,0],[0,0],[0,0]];
        var marker = [];


        var map = new naver.maps.Map(document.getElementById('map'), {
            center: new naver.maps.LatLng(<%= lng %>, <%= lat %>),
            zoom: 10
        });

        var k=0;
        <% for(var i=0; i<shops.length; i++) { %>
            coords[k][0] = <%= shops[i].lng %>;
            coords[k][1] = <%= shops[i].lat %>;
            k++;
        <% } %>

        //console.log(testcoords[0][0])

        for (var i = 0; i < coords.length; i++) {
            marker[i] = new naver.maps.Marker({
                position: new naver.maps.LatLng(coords[i][0], coords[i][1]),
                map: map
            });
        }

        //var j = 0;


        <% for (var i = 0; i < shops.length; i++) { %>
            naver.maps.Event.addListener(marker[<%= i %>], 'click', function (e) {
                console.log('marker' + <%= i %>);
                location.href = "/detail/" + <%= i %>;
                //j++;
                //var marker_id = i+1;
                //marker_id = marker_id.toString();
            });
        <% } %>

    </script>

</body>

</html>
